body {
    width: 250px;
}

#gitUser {}

#sinceDay {
    width: 40px;
}

#gitButton {
    background-color: #00AD42;
    border: none;
    color: white;
    padding: 3px 6px;
    margin: 0 2px;
    text-align: center;
}

#gitStats {
    padding: 5px 0;
}

#lastChecked{
    font-size: 0.7em;
    color: #999;
}